# Ignore everything
*

# But not these files...
!*.py
!ctir_phosphoresi.yaml
!align_fragments.sh
!config_ctir_po4.yaml
!README.md
!.gitignore
!LICENSE
!requirements.txt
!af3_slime
# ...even if they are in subdirectories
#!*/

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environments
venv/
env/
ENV/

# Ignore IDE files
.idea/
.vscode/