# Ignore everything
*

# But not these files...
!*.py
!ptm.yaml
!align_fragments.sh
!config.yaml
!ligand.fasta
!receptor.fasta
!README.md
!.gitignore
!LICENSE
!requirements.txt
!af3_slime
!inputs
# ...even if they are in subdirectories
#!*/

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environments
venv/
env/
ENV/

# Ignore IDE files
.idea/
.vscode/